@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

:root {
    --cor-fonte-principal: steelblue;
    --cor-fonte-secundaria: midnightblue;
    --cor-fundo-principal: lightblue;
    --cor-fundo-secundaria: whitesmoke;    
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Jockey One', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: var(--cor-fonte-principal);
    background-color: var(--cor-fundo-principal);
}
header {
    height: 4rem;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo-secundaria);
    border-bottom: 3px ridge var(--cor-fonte-principal);
    font-size: 1.5rem;
    z-index: 1;
}
main {    
    top: 4rem;    
    position: absolute;
}
.container {
    height: 200vh;
    margin: 1.5rem;
    display: grid; 
    grid-template-columns: 1fr;
    gap: 1rem; 	   
    padding: 0.5rem;
    align-items: center;
    color: var(--cor-fonte-secundaria);
    background-color: var(--cor-fundo-secundaria);
}
img {
    width: 40%;
}
input, select {
    color: inherit;
    font-family: inherit;
    text-align: inherit;
    margin: 8px 5px;
}
input[type="text"] {
    width: 60%;
}
input[type="number"] {
    width: 40%;
}
input[type="button"] {
    width: 40%;
    padding: 3px;
    background-color: var(--cor-fundo-principal);
    border: 1px solid var(--cor-fonte-principal);
    cursor: pointer;
} 
.desfocar {
    filter: blur(10px);
}
.focar {
    filter: none;
}
.fundo_escuro {
    background-color: black;
}

@media (min-width: 768px) { 
    header{
        font-size: 2rem;
        min-height: 3rem;
    }
    .container {
        height: 40vh;
        min-height: 120px; 
        margin: 2rem;     
        grid-template-columns: repeat(5, 1fr);
    }
    input[type="text"] {
        width: 80%;
    }
    select {
        width: 80%;
    }
}
